server:
  port: 4550
flaglist: PF0015,RA0042
management:
  endpoints:
    jmx:
      exposure:
        include: 'health'
    web:
      base-path: "/"
  endpoint:
    health:
      show-details: "always"

#If you use a database then uncomment below lines and update db properties accordingly
spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
          time_zone: UTC
    #    default_schema: dbcommondata
    cache:
      cache-names: token
      caffeine:
        spec: maximumSize=50,expireAfterWrite=1m
  flyway:
    enabled: true
    locations: ${COMMONDATA_DB:classpath:db/migration}
  config:
    import: "optional:configtree:/mnt/secrets/rd/"
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
  application:
    name: RD Commond Data API
  security:
      oauth2:
        client:
          provider:
            oidc:
              issuer-uri: ${OPEN_ID_API_BASE_URI:https://idam-web-public.aat.platform.hmcts.net/o}
          registration:
            oidc:
              client-id: microservicekey-rd-commondata-api
              client-secret: ${COMMONDATA_API_S2S_SECRET:}
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5459}/${POSTGRES_NAME:dbcommondata}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${POSTGRES_USERNAME:dbcommondata}
    password: ${POSTGRES_PASSWORD:dbcommondata}
    min-idle: 1
    properties:
      charSet: UTF-8
    hikari:
      maximumPoolSize: ${HIKARI_MAX_POOL_SIZE:14}
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      max-wait: 10000
      test-on-borrow: true
      test-on-connect: true
      test-on-idle: true
      validation-query: "SELECT 1"
      time-between-eviction-runs-millis: 10000
      test-while-idle: true
      test-on-return: true
      remove-abandoned: true
      remove-abandoned-timeout: 60
      log-abandoned: true
      abandon-when-percentage-full: 0
azure:
  application-insights:
    instrumentation-key: ${rpe.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/readiness"
    - "/health/liveness"
    - "/actuator/**"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-ui/**"
    - "/swagger-resources/**"
    - "/v3/**"
    - "/webjars/springfox-swagger-ui/**"
    - "/csrf"
    - "/error"
    - "/favicon.ico"

idam:
  s2s-auth:
    totp_secret: ${COMMONDATA_API_S2S_SECRET:}
    microservice: rd_commondata_api
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
  s2s-authorised:
    services: ${CRD_S2S_AUTHORISED_SERVICES:rd_commondata_api}
  api.url: ${idam_url:https://idam-api.aat.platform.hmcts.net}

oidc.issuer: ${OIDC_ISSUER_URL:https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts}

loggingComponentName: RD-Common-Data-Api
logging.level.root : INFO

launchdarkly:
  sdk:
    key: ${LD_SDK_KEY:}
    environment: ${LAUNCH_DARKLY_ENV:local}
    user: rd
